$h: header;

.#{$h} {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.183679);
        pointer-events: none;

        @include min-screen($desktop) {
            z-index: 0;
        }
    }

    &__inner_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        padding: 0 0 0 20px;
        max-width: 1120px;
        margin: 0 auto;

        @include min-screen($desktop) {
            height: 100px;
            padding: 0 20px;
        }
    }

    &__title {
        width: calc(100% - 50px);
        white-space: nowrap;
        overflow-x: auto;
        font: $fontMedium;
        font-size: rem(20);

        @include min-screen($desktop) {
            width: calc(100% - 450px);
            white-space: normal;
            font-size: rem(24);
            letter-spacing: -0.876px;
        }

        a {
            color: $black02;
        }

        span {
            display: inline-block;
        }
    }

    &__nav_toggle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        @include min-screen($desktop) {
            display: none;
        }

        &::after {
            content: " ";
            box-sizing: border-box;
            width: 15px;
            height: 15px;
            border-top: 1px solid $black01;
            border-bottom: 1px solid $black01;
        }

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 15px;
            height: 1px;
            margin: auto;
            background-color: $black01;
        }

        &.is-active {
            &::after {
                height: 1px;
                border: none;
                transform: rotate(-45deg);
                background-color: $black01;
            }
            &::before {
                transform: rotate(45deg);
            }
        }
    }
}