//colors
$white01: #fff;
$black01: #000;
$black02: #363636;
$grey01: #F9F9F9;
$grey02: #a0a0a0;
$turquoise: #13D6EA;

// fonts
$fontReg: normal 400 100% "Work Sans", sans-serif;
$fontMedium: normal 500 100% "Work Sans", sans-serif;
$fontBold: normal 700 100% "Work Sans", sans-serif;

// breakpoints
$desktop: 1024px;
